@{
    ViewData["Title"] = "SOSLocaliza - Home";
}

<div>
    <h1>SOSLocaliza</h1>
    <p>Sistema de gerenciamento de usuários</p>
    
    <ul>
        <li><a asp-controller="Usuario" asp-action="Index">Gerenciar Usuários</a></li>
        <li><a asp-controller="Usuario" asp-action="TestConnection">Testar Conexão com Banco de Dados</a></li>
    </ul>
</div>
